.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.25rem;
  background-color: rgba(212, 212, 212, 0.8);
  padding: 10px 20px;
}

.btn {
  border-style: none;
}

.btnMsg {
  font-weight: 500;
}
